@use "sass:meta";
@use "pkg:@fontsource-utils/scss" as fontsource;
@use "pkg:@fontsource/poppins/scss/metadata" as poppins;

@include fontsource.faces(
  $metadata: meta.module-variables(poppins),
  $subsets: (
    latin,
    latin-ext,
  ),
  $weights: all,
  $styles: all
);
