$kleur-blauw: #0000ff;
$kleur-groen: #00ff00;
$kleur-geel: #fcc200;
$kleur-zwart: #000000;

// blauwladder
$kleur-blauw-1: $kleur-blauw;
$kleur-blauw-2: #4040ff;
$kleur-blauw-3: #7f7fff;
$kleur-blauw-4: #bebfff;

// groenladder
$kleur-groen-1: $kleur-groen;
$kleur-groen-2: #40ff40;
$kleur-groen-3: #7fff7f;
$kleur-groen-4: #bfffbf;

// geelladder
$kleur-geel-1: $kleur-geel;
$kleur-geel-2: #fcd140;
$kleur-geel-3: #fce080;
$kleur-geel-4: #fdf0bf;

// zwartladder
$kleur-zwart-1: $kleur-zwart;
$kleur-zwart-2: #565656;
$kleur-zwart-3: #8e8e8e;
$kleur-zwart-4: #c6c6c6;

$themablok-groen-1: #00ff00;
$themablok-groen-2: #66ff66;
$themablok-groen-dark-1: #0c8c0c;
$themablok-groen-dark-2: #20a020;

$themablok-blauw-1: #0055ff;
$themablok-blauw-2: #7f7fff;
$themablok-blauw-dark-1: #0000ff;
$themablok-blauw-dark-2: #2020a0;

$themablok-geel-1: #fcc200;
$themablok-geel-2: #fcd140;
$themablok-geel-dark-1: #fcc200;
$themablok-geel-dark-2: #cea005;

$themablok-grijs-1: #e5e5e5;
$themablok-grijs-2: #999999;
$themablok-grijs-dark-1: #333333;
$themablok-grijs-dark-2: #262626;

// Bootstrap-related theme tokens
$color-mode-type: media-query;
$body-bg-dark: rgb(24, 24, 24);

$kleur-corporate1: $kleur-blauw;
$kleur-corporate2: $kleur-groen;
